	<div>
						<!-- <NavLink to="/" > -->
							
    <a href="#!/">home </a>
						<!-- </NavLink> -->
						<h1 >
							Sign Up for construction Workers
						</h1>
						<h4 > Upload profile photo </h4>
						<input type="file" ng-model="handleChange" />
						<button ng-click="handleUpload">
							Upload
						</button>
						<br />
						<img
							ng-src=
								"{{url}}" 
							
							alt="uploaded image"
							height="150"
							width="200"
						/>
						<br />
						<input type="text" name="fullname" placeholder="fullName" ng-model="fullname" />
						<br />
						<input type="text" name="username" placeholder="userName" ng-model="username" />
						<br />
						<input
							type="password"
							name="password"
							placeholder="password"
						  ng-model="password"
						/>
						<br />
						<input
							type="number"
							name="phonenumber"
							placeholder="079-123-4567"
							ng-model="phonenumber"
						/>
						<br />
						<input
							type="number"
							name="expectedsalary"
							placeholder="expected salary / hour"
							ng-model="expectedsalary"
						/>
            <br />
            <label> Role: </label>
						<select name="role" ng-model="role">
                <option value="Painter">Painter </option>
                <option value="Carpenter">Carpenter</option>
                <option value="Stone Builde">Stone Builder </option>
                <option value="Smith">Smith</option>
						</select>
            <br />
            <label>Experience level:</label>
						<select name="experiencelevel" ng-model="experiencelevel">
                <option value="Professional">Professional</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Beginner">Beginner </option>
						</select>
            <br />
            <label>Status:</label>
						<select name="status" ng-model="status">
							<option value="Available">Available </option>
                <option value="Not Available">Not Available</option>
						</select>
						<br />
						<button id="signUpWorker" ng-click="signUp()" >
							Sign Up
						</button>
							<p value="sign In as a construction Worker">
								Already have an account? <a href="#!/workerSignin">Sign In</a>                 
					</div>
			</div>
</div>